.desktop-1-child,
.desktop-1-item {
  position: absolute;
  top: 782px;
  left: 948px;
  border-radius: 50%;
  background-color: #237e9b;
  filter: blur(300px);
  width: 279px;
  height: 549px;
}
.desktop-1-item {
  top: 109px;
  left: -330px;
  background-color: #24a3cb;
  width: 582px;
  height: 295px;
}
.barre-de-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  width: 1176px;
  height: 56px;
}
.accueil,
.rapport,
.saisie-des-justificatifs,
.suivi-des-remboursements {
  position: absolute;
  top: 0;
  left: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 56px;
  mix-blend-mode: normal;
  color: #ffffff;
  text-decoration: none;
}
.accueil:hover,
.rapport:hover,
.saisie-des-justificatifs:hover,
.suivi-des-remboursements:hover {
  color: #ff0000; /* Couleur du texte au survol */
  text-decoration: underline; /* Si vous voulez souligner au survol */
}
.rapport,
.saisie-des-justificatifs,
.suivi-des-remboursements {
  left: 341px;
  width: 205px;
}
.rapport,
.suivi-des-remboursements {
  left: 670px;
  width: 252px;
}
.rapport {
  left: 1047px;
  width: 77px;
}
.navbar-child {
  position: absolute;
  top: 17.5px;
  left: 119.5px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  width: 1px;
  height: 22px;
}
.logo-icon {
  position: absolute;
  top: 7px;
  left: 41px;
  border-radius: 316px;
  width: 43px;
  height: 42px;
  object-fit: cover;
}
.er-tableau-de-saisie-child,
.navbar {
  position: absolute;
  top: 44px;
  left: 132px;
  width: 1176px;
  height: 56px;
}
.er-tableau-de-saisie-child {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(0, 183, 241, 0.1);
  height: 136px;
}
.date {
  position: absolute;
  top: 26px;
  left: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}
.date-input {
  position: absolute;
  top: 29px; /* Ajustez la valeur pour aligner verticalement */
  left: 114px; /* Ajustez la valeur pour aligner horizontalement */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: none; /* Supprimez la bordure si vous le souhaitez */
  width: 181px; /* La largeur de votre choix */
  height: 0px; /* La hauteur de votre choix */
  color: var(--color-white); 
  font-family: var(--font-inria-sans); 
  font-size: var(--font-size-lgi-5); 
  padding: 0.5em; 
}


.date-input:focus {
  outline: none;

}


.nature {
  position: absolute;
  top: 68px;
  left: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}

.nature-select {
  position: absolute; /* ou 'relative' selon votre layout */
  top: 72px; /* Ajustez cette valeur pour aligner avec le rectangle en dessous */
  left: 114px; /* Ajustez si nécessaire pour l'alignement horizontal */
  width: 200px; /* Ajustez cette valeur pour correspondre à la largeur du rectangle en dessous */
  height: 20px; /* Laissez la hauteur s'ajuster au contenu */
  padding: 0.5em;
  border: 1px none;
  background-color: #7C888E;
  color: #ffffff;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Remplacez par le chemin vers votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
  font-size: 10px;
}

.nature-select::-ms-expand {
  display: none;
}

/* Style pour les options à l'intérieur du menu déroulant */
.nature-select option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}


.logo-carburant-1-icon,
.logo-hotel-1-icon,
.logo-peage-1-icon,
.sans-titre-12-1 {
  position: absolute;
  top: 94px;
  left: 123px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.logo-hotel-1-icon,
.logo-peage-1-icon,
.sans-titre-12-1 {
  left: 213px;
}
.logo-peage-1-icon,
.sans-titre-12-1 {
  left: 168px;
}
.sans-titre-12-1 {
  left: 258px;
}


.navbar{
  position: absolute;
  top: 44px;
  left: 132px;
  width: 1185px;
  height: 56px;
}

/*---------------------------------------------Style pour tableau carburant--------------------------------------------*/

.tableau-carburant {
  display: none; /* Caché initialement */
  position: absolute;
  top: 380px; /* Identique à .rectangle-saisie2 */
  left: 130px; /* Identique à .rectangle-saisie2 */
  width: 1185px; /* Identique à .rectangle-saisie2 */
  background-color: rgba(0, 183, 241, 0.1);
  height: 350px;
  border-radius: 20px;
  color: white;
  font-family: 'Inria Sans', sans-serif;
  /* ... autres styles ... */
}

.tableau-hotel b {
  display: block;
  margin-bottom: 10px;
}

.pays-input {
  position: absolute;
  top: 35px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 217px; /* la largeur de votre choix */
  height: 27px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  font-size: 12px;
  padding: 0.5em; /* espacement intérieur */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.pays-input::-ms-expand {
  display: none;
}

.pays-input option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}


.pays {
  position: absolute;
  top: 35px;
  left: 37px;
  display: flex;
  align-items: right;
  justify-content: right;
  width: 66px;
  height: 25px;
}

.vhicule-input {
  position: absolute;
  top: 85px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
  /* autres styles que vous voulez ajouter */
}
.vhicule {
  position: absolute;
  top: 85px;
  left: 7px;
  display: flex;
  align-items: right;
  justify-content: right;
  width: 99px;
  height: 25px;
}

.montant-devise-wrapper {
  position: absolute;
  top: 135px; /* Ajustez selon votre mise en page */
  left: 120px; /* Ajustez selon votre mise en page */
  display: flex;
  align-items: center;
}
.montant-input {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' pour aucune bordure */
  width: 201px;
  height: 12px;
  color: #000000;
  font-family: var(--font-inria-sans);
  padding: 0.5em;
  margin-right: 8px; /* Espace entre le champ de texte et le sélecteur de devise */
}
.devise-select {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' pour aucune bordure */
  width: 217px;
  left: 20px;
  height: 27px; /* Hauteur ajustée pour correspondre à celle du sélecteur de nature */
  color: #000000;
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.devise-select::-ms-expand {
  display: none;
}
.devise-select option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.montant {
  position: absolute;
  top: 135px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.remarque-input {
  position: absolute;
  top: 200px; /* Ajustez la position verticale si nécessaire */
  left: 120px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 700px; /* La largeur de la zone de texte */
  height: 50px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  padding: 0.5em 0.5em 0.5em 0.5em; /* Haut, Droite, Bas, Gauche */
  text-align: left; /* Alignez le texte à gauche */
  display: flex;
  align-items: start; /* Alignez le contenu en haut */
  white-space: normal; /* Permettre le retour à la ligne automatique du texte */
  overflow: auto; /* Ajout de défilement si nécessaire */
}

.remarque {
  position: absolute;
  top: 200px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.enregistrer-ajouter {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 939px; /* Ajustez la position horizontale selon vos besoins */
  width: 190px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.enregistrer-ajouter:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.annuler {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 20px; /* Ajustez la position horizontale selon vos besoins */
  width: 50px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.annuler:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.rectangle-saisie2 {
  top: 380px;
  left: 130px;
  border-radius: 20px;
  background-color: rgba(0, 183, 241, 0.1);
  height: 300px;
}

.ajouter-justif-carb {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 750px; /* Ajustez la position horizontale selon vos besoins */
  width: 120px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.ajouter-justif-carb:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


/*---------------------------------------- Style pour le tableau de saisie hotel ----------------------------------------*/


.tableau-hotel {
  display: none; /* Caché initialement */
  position: absolute;
  top: 380px; /* Identique à .rectangle-saisie2 */
  left: 130px; /* Identique à .rectangle-saisie2 */
  width: 1185px; /* Identique à .rectangle-saisie2 */
  background-color: rgba(0, 183, 241, 0.1);
  height: 350px;
  border-radius: 20px;
  color: white;
  font-family: 'Inria Sans', sans-serif;
  /* ... autres styles ... */
}
.tableau-hotel b {
  display: block;
  margin-bottom: 10px;
}


.pays-input-hotel {
  position: absolute;
  top: 35px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 217px; /* la largeur de votre choix */
  height: 27px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  font-size: 12px;
  padding: 0.5em; /* espacement intérieur */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.pays-input-hotel::-ms-expand {
  display: none;
}

.pays-input-hotel option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}


.pays-hotel {
  position: absolute;
  top: 35px;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}

.lieu-input-hotel{
  position: absolute;
  top: 85px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
  /* autres styles que vous voulez ajouter */

}

.lieu-hotel{
  position: absolute;
  top: 85px;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;

}

.nombre-input-hotel{
  position: absolute;
  top: 135px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
}

.nombre-hotel{
  position: absolute;
  top: 135px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.montant-input-hotel{
  position: absolute;
  top: 185px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
}

.montant-hotel{
  position: absolute;
  top: 185px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.devise-select-hotel {
  position: absolute;
  top: 185px; /* Ajustez la position verticale si nécessaire */
  left: 350px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 217px; /* La largeur de la zone de texte */
  height: 27px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.devise-select-hotel::-ms-expand {
  display: none;
}

/* Style pour les options à l'intérieur du menu déroulant */
.devise-select-hotel option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.remarque-hotel{
  position: absolute;
  top: 235px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.remarque-input-hotel{
  position: absolute;
  top: 235px; /* Ajustez la position verticale si nécessaire */
  left: 120px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 700px; /* La largeur de la zone de texte */
  height: 50px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  padding: 0.5em 0.5em 0.5em 0.5em; /* Haut, Droite, Bas, Gauche */
  text-align: left; /* Alignez le texte à gauche */
  display: flex;
  align-items: start; /* Alignez le contenu en hau t*/
  white-space: normal; /* Permettre le retour à la ligne automatique du texte */
  overflow: auto; /* Ajout de défilement si nécessaire */

}

.enregistrer-ajouter-hotel {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 939px; /* Ajustez la position horizontale selon vos besoins */
  width: 190px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.enregistrer-ajouter-hotel:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.annuler-hotel {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 20px; /* Ajustez la position horizontale selon vos besoins */
  width: 50px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.annuler-hotel:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}

.ajouter-justif-hotel {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 750px; /* Ajustez la position horizontale selon vos besoins */
  width: 120px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.ajouter-justif-hotel:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}

/*------------------------------------------ Style pour le tableau de saisie repas ---------------------------------------*/

.tableau-repas {
  display: none; /* Caché initialement */
  position: absolute;
  top: 380px; /* Identique à .rectangle-saisie2 */
  left: 130px; /* Identique à .rectangle-saisie2 */
  width: 1185px; /* Identique à .rectangle-saisie2 */
  background-color: rgba(0, 183, 241, 0.1);
  height: 350px;
  border-radius: 20px;
  color: white;
  font-family: 'Inria Sans', sans-serif;
  
}
.tableau-repas b {
  display: block;
  margin-bottom: 10px;
}


.pays-input-repas {
  position: absolute;
  top: 35px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 217px; /* la largeur de votre choix */
  height: 27px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  font-size: 12px;
  padding: 0.5em; /* espacement intérieur */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.pays-input-repas::-ms-expand {
  display: none;
}

.pays-input-repas option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}


.pays-repas {
  position: absolute;
  top: 35px;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}

.lieu-repas{
  position: absolute;
  top: 85px;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}

.lieu-input-repas{
  position: absolute;
  top: 85px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
  /* autres styles que vous voulez ajouter */

}

.montant-input-repas{
  position: absolute;
  top: 135px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
}

.montant-repas{
  position: absolute;
  top: 135px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.devise-select-repas {
  position: absolute;
  top: 135px; /* Ajustez la position verticale si nécessaire */
  left: 350px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 217px; /* La largeur de la zone de texte */
  height: 27px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.devise-select-repas::-ms-expand {
  display: none;
}

/* Style pour les options à l'intérieur du menu déroulant */
.devise-select-repas option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.TVA-repas{
  position: absolute;
  top: 185px;
  left: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.TVA-input-repas {
  position: absolute;
  top: 185px; /* Ajustez la position verticale si nécessaire */
  left: 120px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 217px; /* La largeur de la zone de texte */
  height: 27px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

.TVA-input-repas::-ms-expand {
  display: none;
}

/* Style pour les options à l'intérieur du menu déroulant */  
.TVA-input-repas option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.TVA-montant-input-repas{
  position: absolute;
  top: 185px; /* ajustez selon votre mise en page */
  left: 350px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff; /* ou 'none' si vous ne voulez pas de bordure */
  width: 201px; /* la largeur de votre choix */
  height: 12px; /* la hauteur de votre choix */
  color: #000000; /* couleur du texte */
  font-family: var(--font-inria-sans); /* police de caractères */
  padding: 0.5em; /* espacement intérieur */
}

.ajouter-TVA-repas {
  position: absolute;
  top: 217px; /* Ajustez la position verticale selon vos besoins */
  left: 175px; /* Ajustez la position horizontale selon vos besoins */
  width: 60px; /* Ajustez la largeur selon vos besoins */
  padding: 3px 25px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 18px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.ajouter-TVA-repas:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.remarque-repas{
  position: absolute;
  top: 238px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.remarque-input-repas{
  position: absolute;
  top: 243px; /* Ajustez la position verticale si nécessaire */
  left: 120px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 700px; /* La largeur de la zone de texte */
  height: 45px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  padding: 0.5em 0.5em 0.5em 0.5em; /* Haut, Droite, Bas, Gauche */
  text-align: left; /* Alignez le texte à gauche */
  display: flex;
  align-items: start; /* Alignez le contenu en hau t*/
  white-space: normal; /* Permettre le retour à la ligne automatique du texte */
  overflow: auto; /* Ajout de défilement si nécessaire */

}

.enregistrer-ajouter-repas {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 939px; /* Ajustez la position horizontale selon vos besoins */
  width: 190px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.enregistrer-ajouter-repas:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.annuler-repas {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 20px; /* Ajustez la position horizontale selon vos besoins */
  width: 50px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.annuler-repas:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}

.ajouter-justif-repas {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 750px; /* Ajustez la position horizontale selon vos besoins */
  width: 120px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.ajouter-justif-repas:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}

/*--------------------------------------------- Style pour le tableau de saisie peage ------------------------------------*/

.tableau-peage {
  display: none; /* Caché initialement */
  position: absolute;
  top: 380px; /* Identique à .rectangle-saisie2 */
  left: 130px; /* Identique à .rectangle-saisie2 */
  width: 1185px; /* Identique à .rectangle-saisie2 */
  background-color: rgba(0, 183, 241, 0.1);
  height: 350px;
  border-radius: 20px;
  color: white;
  font-family: 'Inria Sans', sans-serif;
  
}

.tableau-peage b {
  display: block;
  margin-bottom: 10px;
}

.pays-peage{
  position: absolute;
  top: 35px;
  left: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 25px;
}

.pays-input-peage {
  position: absolute;
  top: 35px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 217px; /* La largeur de la zone de texte */
  height: 27px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;

}

.pays-input-peage::-ms-expand {
  display: none;
}

.pays-input-peage option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.montant-peage{
  position: absolute;
  top: 85px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.montant-input-peage{
  position: absolute;
  top: 85px; /* ajustez selon votre mise en page */
  left: 120px; /* ajustez selon votre mise en page */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 201px; /* La largeur de la zone de texte */
  height: 12px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;

}

.devise-select-peage {
  position: absolute;
  top: 85px; /* Ajustez la position verticale si nécessaire */
  left: 350px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 217px; /* La largeur de la zone de texte */
  height: 27px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  font-size: 12px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./public/polygon-1.svg'); /* Chemin d'accès à votre icône de flèche */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;

}

.devise-select-peage::-ms-expand {
  display: none;
}

/* Style pour les options à l'intérieur du menu déroulant */
.devise-select-peage option {
  background-color: #237e9b; /* Couleur de fond pour les options */
  color: white; /* Couleur du texte pour les options */
}

.remarque-peage{
  position: absolute;
  top: 135px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 25px;
}

.remarque-input-peage{
  position: absolute;
  top: 135px; /* Ajustez la position verticale si nécessaire */
  left: 120px; /* Ajustez la position horizontale si nécessaire */
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid #ffffff;
  width: 700px; /* La largeur de la zone de texte */
  height: 45px; /* La hauteur de la zone de texte */
  color: #000000; /* La couleur du texte */
  font-family: var(--font-inria-sans);
  padding: 0.5em 0.5em 0.5em 0.5em; /* Haut, Droite, Bas, Gauche */
  text-align: left; /* Alignez le texte à gauche */
  display: flex;
  align-items: start; /* Alignez le contenu en hau t*/
  white-space: normal; /* Permettre le retour à la ligne automatique du texte */
  overflow: auto; /* Ajout de défilement si nécessaire */

}

.enregistrer-ajouter-peage {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 939px; /* Ajustez la position horizontale selon vos besoins */
  width: 190px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.enregistrer-ajouter-peage:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.annuler-peage {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 20px; /* Ajustez la position horizontale selon vos besoins */
  width: 50px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.annuler-peage:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}

.ajouter-justif-peage {
  position: absolute;
  top: 310px; /* Ajustez la position verticale selon vos besoins */
  left: 750px; /* Ajustez la position horizontale selon vos besoins */
  width: 120px; /* Ajustez la largeur selon vos besoins */
  padding: 5px 20px; /* Ajustez le remplissage interne pour augmenter la taille du bouton */
  background-color: #007bff; /* La couleur de fond du bouton */
  color: #ffffff; /* La couleur du texte du bouton */
  font-size: 16px; /* La taille de la police du texte du bouton */
  border: none; /* Supprimez la bordure si elle est présente */
  border-radius: 20px; /* Les coins arrondis du bouton */
  cursor: pointer; /* Change le curseur en main quand on survole le bouton */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre portée pour un effet 3D */
  text-align: center; /* Centre le texte dans le bouton */
  display: inline-block; /* Permet au bouton de respecter le padding et le border-radius */
  transition: background-color 0.3s ease; /* Effet de transition pour le survol */
  font-size: 10px;
}

.ajouter-justif-peage:hover {
  background-color: #0056b3; /* Assombrir le bouton lors du survol */
}


.er-tableau-de-saisie {
  position: absolute;
  top: 184px;
  left: 132px;
  width: 1176px;
  height: 136px;
}



.desktop-1 {
  position: relative;
  background-color: #151c21;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi-5);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}

